@media screen and (max-width: 480px) {
  .re-position-for-navbar {
    position: relative;
    top: 0;
  }
  .re-position-for-content {
    bottom: -75px;
  }
  .container {
    margin-top: 150px;
  }
  header.header-for-mobile {
    text-align: center;
    position: fixed;
    margin: 0;
    top: 0;
    border-bottom: 1px solid #aaa;
    background-color: #FFF;
    z-index: 998;
    h1 {
      font-size: 35px;
      margin: 10px;
      letter-spacing: -3px;
      padding-left: 0;
      transition: none;
      a {
        padding: 13px 40px;
      }
    }
    p {
      display: none;
    }
    .navbar {
      display: none;
    }
    .navbar-480 {
      z-index: 999;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      li {
        display: none;
        position: relative;
        background: transparent;
      }
      &.lsf-icon {
        font-size: 1.5em;
        &:before {
          content: '\E112';
          color: #3b3b3b;
          position: absolute;
          top: 13px;
          cursor: pointer;
        }
      }
      &.open {
        width: 100%;
        li:first-child {
          margin-top: 72px;
          border-top: 1px solid #aaa;
        }
        li {
          display: block;
          background: rgb(255, 245, 245);
          border-bottom: 1px solid #aaa;
          border-left: 10px solid #D13030;
          a {
            display: block;
            font-size: 24px;
            text-decoration: none;
            padding: 20px 0 16px;
          }
        }
        &.lsf-icon {
          &:before {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            left: 0;
          }
        }
      }
    }
  }
  .posts {
    padding: 0 10px;
    .header {
      font-size: 25px;
      padding-bottom: 25px;
      border-bottom: none;
      margin-bottom: 0;
      h1 {
        width: 100%;
      }
      .date {
        font-size: 14px;
        left: 0;
        top: -22px;
      }
    }
    .content {
      h1 {
        font-size: 20px;
        left: 4px;
        &:before {
          left: -10px;
        }
        &:after {
          left: -13px;
        }
      }
      h2 {
        font-size: 18px;
        padding-left: 5px;
      }
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 16px;
      }
      pre, code {
        font-size: 14px;
        line-height: 1;
      }
      pre.aboutBlock {
        line-height: 1.5;
        .aboutLink {
          margin-top: 30px;
          font-size: 18px;
          width: auto;
        }
      }
    }
  }
}