.fixed-on-top {
	margin: 0;
  text-align: left;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 1px solid #aaa;
  background-color: #FFF;
  z-index: 998;
  h1 {
		font-size: 35px;
		margin: 10px;
		padding-left: 150px;
		letter-spacing: -3px;
  }
  p {
		display: none;
  }
	.navbar {
		position: absolute;
		top: 0;
		display: inline-block;
		border-top: none;
		z-index: 999;
		margin-top: 0;
		width: auto;
		right: 150px;
		a {
			padding-top: 23px;
			margin-top: 0;
		}
	}
}
.re-position-for-navbar {
	position: relative;
	top: 316px;
}
@media screen and (max-width: 480px) {
	.fixed-on-top {
		text-align: center;
		h1 {
			padding-left: 40%;
		}
		.navbar {
			display: none;
		}
		.navbar-480 {
			top: 12px;
			&.lsf-icon {
	      &:before {
	        right: -50px;
	      }
	    }
	    &.open {
	    	right: -40%;
		    &.lsf-icon {
		      &:before {
		        position: relative;
		        right: -40%;
		      }
		    }
		  }
		}
	}
	.re-position-for-navbar-480 {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}
	.re-position-for-navbar {
		position: relative;
		top: 173px;
	}
}

.re-position-for-content {
	bottom: -400px;
}
