.posts {
  width: 100%;
  padding: 0 35px;
  .header {
    font-size: 26px;
    font-family: Palatino, "微軟正黑體", sans-serif;
    padding-bottom: 25px;
    position: relative;
    font-weight: bolder;
    margin-bottom: 0;
    h1 {
      width: 510px;
    }
    .date {
      font-size: 20px;
      font-family: monospace;
      font-weight: normal;
      position: absolute;
      right: 0;
      line-height: 1.4;
      color: #777;
    }
  }
  .content {
    line-height: 1.6;
    letter-spacing: -.5px;
    font-family: Palatino, "微軟正黑體", sans-serif;
    margin-bottom: 40px;
    .articles {
        margin-top: 60px;
    }
    .paginate {
      text-align: center;
      a {
        margin: 0 20px;
      }
      .noLink {
        padding-bottom: 2px;
        margin: 0 20px;
        color: #999;
      }
    }
    h4,h5,h6,p,ul,ol,dl {
      margin: 15px 0;
    }
    h1,h2,h3 {
      margin: 30px 0;
      line-height: 1.2;
      font-weight: bolder;
      position: relative;
    }
    h1 {
      font-size: 26px;
    }
    h2 {
      font-size: 24px;
    }
    h1,h3 {
      font-size: 26px;
    }
    h1, h3 {
      &:before, &:after {
        content: " ";
        display: block;
        position: absolute;
        border: 7px solid transparent;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        -o-transform: rotate(-40deg);
        transform: rotate(-40deg);
      }
      &:hover {
        cursor: default;
        &:before, &:after {
          -webkit-transform: rotate(-400deg);
          -ms-transform: rotate(-400deg);
          -o-transform: rotate(-400deg);
          transform: rotate(-400deg);
        }
      }
    }

    h1 {
      &:before {
        left: -20px;
        top: -10px;
        border-right: 20px solid #D13030;
      }
      &:after {
        left: -23px;
        top: -8px;
        border-left: 20px solid #D13030;
      }
    }
    h2,h3 {
      padding-left: 10px;
      padding-top: 6px;
      border-left: 10px solid #FF9726;
    }

    h4 {
      font-size: 26px;
    }
    h5 {
      font-size: 24px;
    }
    h6 {
      font-size: 22px;
    }
    p {
      font-size: 16px;
      code {
        padding: 3px 5px;
        margin: 0 3px;
        border-radius: 2px;
        // border: 1px solid #bbb;
        background-color: #F5F5F5;
        color: #777;
      }
    }
    pre {
      padding: 15px 20px;
      border: 1px dashed #555;
      // border-left: 10px solid #555;
      // border-left: 10px solid #FAE72C;
      // border-radius: 10px 0 0 10px;
      // background-color: #49483e;
      background-color: #fff;
      .line-through {
        text-decoration: line-through;
        color: #999;
      }
    }
    pre.aboutBlock {
      position: relative;
      .aboutLink {
        position: absolute;
        left: 5px;
        margin-top: 15px;
        font-size: 24px;
        a.lsf-icon {
          border: none;
        }
      }
    }
    pre,blockquote,table,hr,img {
      margin: 20px 0 30px;
    }
    pre, code, p code {
      font-family: monospace;
      font-size: 16px;
      line-height: 1.3;
    }
    pre {
      overflow-x: scroll;
      white-space: pre;
      word-wrap: normal;
    }
    ul,ol {
      padding-left: 30px;
      list-style: inherit;
      li {
        margin-bottom: 10px;
        ul {
          margin: 0;
          list-style-type: circle;
          li {
            margin-bottom: 0;
          }
        }
      }
    }
    blockquote {
      padding: 20px 15px 15px;
      border-left: 10px solid #D13030;
      border-radius: 10px 0 0 10px;
      background-color: rgba(209, 48, 48, .1);
      text-indent: 18px;
      color: #3d3d3d;
      font-size: 18px;
      position: relative;
      &:before {
        color: #D13030;
        content: '’’';
        position: absolute;
        left: -14px;
        top: -30px;
        font-size: 77px;
        letter-spacing: -62px;
        font-family: monospace;
      }
    }
    a {
      border-bottom: 2px dotted #D13030;
      margin: 0 5px;
    }
    table{
      width: 100%;
      overflow: auto;
      display: block;
      th {
        font-weight: bold;
      }
      th, td {
        border: 1px solid #777;
        padding: 6px 13px;
      }
      tr {
        border-top: 1px solid #777;
        &:nth-child(2n) {
          background-color: #eee;
        }
      }
    }
    img {
      max-width: 100%;
      box-shadow: 2px 2px 5px 1px #999;
      &:hover {
        box-shadow: 2px 2px 6px 3px #999;
        position: relative;
        top: -2px;
      }
    }
    strong {
      font-weight: bolder;
    }
    ul,ol {
      list-style: auto;
    }
  }
}
.highlight {
  color: #555;
  background-color: transparent;
  span {
    font-weight: lighter !important;
  }
  .c1,.c {
    font-size: 16px;
    font-style: normal;
    color: #aaa;
  }
  .ss,.n,.vi,.nb,.na,.nd {
    color: #3FA73F; //綠
  }
  .sx,.si,.nf,.err,.nl {
    color: #555;
    // color: #f8f8f2; //灰白
    background-color: transparent;
  }
  .s{
    color: #FF8E25; //橘
    // color: #FAE72C; //黃
  }
  .nt,.gp,.k,.no,.o {
    // color: #66d9ef; //藍
    color: #3162B9;
  }
  .m,.mi,.kp,.nn,.nc,.s2,.s1,.nf {
    color: #D13030; //紅
    // color: #FF8181; //橘
    background-color: transparent;
  }
  .sh, .sr {
    color: #000; //黑
  }
}
