<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Use title if it's in the page YAML frontmatter -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="author" content="OtiAnn">
    <meta name="description" content="我是OtiAnn，Ruby on Rails的初學者，2014年3月，參與了Rails Girls活動，透過學習Ruby on Rails，了解許多程式概念。這篇Blog記錄著學習的內容、心得想法，可能有些想法有誤差，也請前輩們多多指教，謝謝 :)">
    <meta name="URL" content="http://blog.annideas.com/">

    <title><%= "Annideas #{current_page.data.title}" || "Annideas" %></title>
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">Annideas?</a></h1>
        <p>Do a little more of what you want to do every day, <br>until your idea becomes what's real.</p>
      </header>
      <ul class="navbar">
        <li><a href="/about">About</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="http://feeds.feedburner.com/Annideas" class="last">Feed</a></li>
      </ul>
      <div class="container">
        <%= yield %>
      </div>
      <footer>
        <p>Copyright © <a href="/">Annideas</a> - Powered by <a href="http://middlemanapp.com/">Middleman</a></p>
      </footer>
    </div>
  </body>
</html>