<div class="posts">
  <div class="content">
    <h3>About Me</h3>
    <pre class="aboutBlock">
      <code class="highlight css">
        <p class="about">
你好，我是安妮/Annie，今年25歲<span class="lsf-icon" title="wink"></span>

過去七年，大部份的人會稱我為『老師』
因為我都在補教業、教育科技產業遊走
又因為是教育體系畢業的，也曾經準備去學校當<span class="line-through">學生奴的</span>老師

直到今年三月(2014/3)
我參加了<a href="https://www.facebook.com/railsgirlstw">Rails Girls Taipei</a>
踏上了我學習Ruby on Rails的旅程！

這個部落格，會記錄下我在學習過程中遇到的問題
偶爾也寫寫自己的生活體驗

對了，我也是個五迷，就是五月天腦迷，很盲目
歡迎同好找我一起腦XD

另外，因為我還是RoR的初學者，第一次當Rails Girls
可能有些程式的想法會有誤差，還請前輩們多多指教，謝謝！

</p>
      </code>
      <div class="aboutLink">
      <a href="https://github.com/OtiAnn" class="lsf-icon" title="github"></a><a href="https://www.facebook.com/OtiAnn" class="lsf-icon" title="facebook"></a><a href="mailto:anniebh30@gmail.com?subject=Hi!我從annideas來的～" class="lsf-icon" title="mail"></a></div>
    </pre>
  </div>
</div>