<div class="posts">
  <div class="content">
    <h1>About Me</h1>
    <pre class="aboutBlock">
      <code class="highlight css">
        <p class="about">

你好，我是安妮/Annie

2014年以前，有七年的時間
大部份的人應該會稱我為『老師』
因為我都在補教業、教育科技產業遊走
又因為是教育體系畢業的
也曾經準備去學校當<span class="line-through">學生奴的</span>老師

直到2014年3月
我參加了<a href="https://www.facebook.com/railsgirlstw">Rails Girls Taipei</a>
踏上了我學習Ruby on Rails的旅程！

這個部落格
會記錄下我在學習過程中遇到的問題
偶爾也寫寫自己的生活體驗

我會繼續學習，一起推廣Ruby on Rails！

</p>
      </code>
      <span class="aboutLink"><a href="https://github.com/OtiAnn" class="lsf-icon" title="github"></a><a href="https://www.facebook.com/OtiAnn" class="lsf-icon" title="facebook"></a><a href="mailto:anniebh30@gmail.com?subject=Hi!我從annideas來的～" class="lsf-icon" title="mail"></a><a href="https://twitter.com/_OtiAnn" class="lsf-icon" title="twitter"></a></span>
    </pre>
  </div>
</div>