---
pageable: false
---

<ul class="articleList">
  <% select_articles(page_articles).first(5).each do |article| %>
      <li>
        <span class="date"><%= article.date.strftime('%b %d, %Y') %></span>
        <span class="title"><%= link_to article.title, article %></span>
        <div class="summary"><%= article.summary(100) %></div>
      </li>
  <% end %>
</ul>