---
pageable: false
---

<ul class="articleList">
  <% select_articles(page_articles).each do |article| %>
	      <li>
		      <% link_to article do %>
		        <span class="date"><%= article.date.strftime('%b %d, %Y') %></span>
		        <span class="title"><%= article.title %></span>
		        <div class="summary"><%= strip_tags(article.summary(100)) %></div>
		        <span class="tags"><%= article.tags[0] %></span>
		      <% end %>
	      </li>
  <% end %>
</ul>
<a class="readMore" href="/articles">Read More...</a>