<div class="posts">
  <div class="content">
    <h1>Ruby女孩：10萬.times { puts "為什麼？" }</h1>
非常開心能夠得到<a href="http://ithelp.ithome.com.tw/question/10163245?tag=hp.all" target="_blank">2014年第七屆iT邦幫忙鐵人賽優選</a>！這裏的文章，是在參加鐵人賽時每天絞盡腦汁所寫下的XD比較適合給初學Ruby的朋友參考看看喔！<br>建議先讀第30篇：<a href="http://ithelp.ithome.com.tw/question/10161778" target="_blank">Ruby女孩(30)：想學Ruby嗎？來聞香吧！</a>有導讀的作用XD
<pre class="aboutBlock">
  <code class="highlight css">
    <p class="about" style="text-align:left;">
標題真是太做作了，其實就是〖Ruby女孩的十萬個為什麼〗！
還記得小時候最愛問大人：「為什麼？」「為什麼？」「為什麼？」嗎？
長大被教育壓榨太久，變得不愛問為什麼了。
現在！因為真心想學習一項知識，理解Ruby這個程式語言，
我會閱讀一本Ruby的書，以初學者的角度，不停地問為什麼，
一字一句追根究底理解他！
    </p>
  </code>
  <div class="aboutLink"><a href="http://ithelp.ithome.com.tw/profile/share?id=20091352">鐵人賽官方頁面</a></div>
</pre>
<ul class="articleList ironman">
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 30, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10161778" target="_blank">Ruby女孩(30)：想學Ruby嗎？來聞香吧！</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 29, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10161707" target="_blank">Ruby女孩(29)：揭開區塊的面紗-Proc、lambda</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 28, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10161608" target="_blank">Ruby女孩(28)：慢慢打開區塊引數的包裝</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 27, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10161471" target="_blank">Ruby女孩(27)：方法的引數傳遞方式，你覺得很簡單嗎？進來小試身手看看XD</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 26, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10161449" target="_blank">Ruby女孩(26)：別鬧了，方法的圓括號別亂省！</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 25, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10161349" target="_blank">Ruby女孩(25)：來認識方法的定義與解除！</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 24, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10161266" target="_blank">Ruby女孩(24)：模組是不生孩子的！模組與類別差異及mixin介紹</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 23, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10161143" target="_blank">Ruby女孩(23)：Ruby中的繼承者們！有錢真好(誤)</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 22, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10161001" target="_blank">Ruby女孩(22)：公用、受保護、私用方法大亂鬥</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 21, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10160882" target="_blank">Ruby女孩(21)：來聽聽類別變數與類別實體變數的自白(?)</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 20, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10160744" target="_blank">Ruby女孩(20)：一次弄懂一件事，今天來分清楚實體方法跟類別方法的差異！</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 19, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10160632" target="_blank">Ruby女孩(19)：類別中的getter與setter</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 18, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10160502" target="_blank">Ruby女孩(18)：自己的類別自己做啦！</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 17, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10160387" target="_blank">Ruby女孩(17)：自己做排序的方法！</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 16, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10160216" target="_blank">Ruby女孩(16)：物件之間相等性的比較</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 15, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10160047" target="_blank">Ruby女孩(15)：Ruby物件的生與死</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 14, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10159896" target="_blank">Ruby女孩(14)：在Ruby中，萬事萬物都是物件 => true</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 13, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10159660" target="_blank">Ruby女孩(13)：到底字串跟符號什麼時候使用比較好？</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 12, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10159504" target="_blank">Ruby女孩(12)：Range讓我知道..我是草莓族，Ruby不是QQ</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 11, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10159329" target="_blank">Ruby女孩(11)：雜湊雜湊雜湊，重要的事情會說三次！</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 10, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10159219" target="_blank">Ruby女孩(10)：["十年","好姐妹","陣列萬歲"]</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 09, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10158985" target="_blank">Ruby女孩(9)：老媽，你不能決定，讓我用紅寶石的陣列幫你決定吧！</a></span>
  </li>
  <li style="border: none; margin-bottom: 20px;">
    <span class="date">Oct 08, 2014</span>
    <span class="title"><a href="http://ithelp.ithome.com.tw/question/10158861" target="_blank">Ruby女孩(8)：字串迭代小練習！</a></span>
  </li>
  <hr style="width: 700px; color: #ccc;">
  <% select_ironman(blog.articles).each_with_index do |article, index| %>
    <li style="border: none; margin-bottom: 20px;">
      <span class="date"><%= article.date.strftime('%b %d, %Y') %></span>
      <span class="title"><%= link_to "Ruby女孩(#{7-index})#{article.title}", article %></span>
    </li>
  <% end %>

</ul>