<div class="posts">
  <div class="content">
    <h1>Ruby女孩：10萬.times { puts "為什麼？" }</h1>
非常開心能夠得到<a href="http://ithelp.ithome.com.tw/question/10163245?tag=hp.all" target="_blank">2014年第七屆iT邦幫忙鐵人賽優選</a>！這裏的文章，是在參加鐵人賽時每天絞盡腦汁所寫下的XD比較適合給初學Ruby的朋友參考看看喔！<br>建議先讀第30篇：<a href="http://ithelp.ithome.com.tw/question/10161778" target="_blank">Ruby女孩(30)：想學Ruby嗎？來聞香吧！</a>有導讀的作用XD
<pre class="aboutBlock">
      <code class="highlight css">
        <p class="about" style="text-align:left;">
標題真是太做作了，其實就是〖Ruby女孩的十萬個為什麼〗！還記得小時候最愛問大人：「為什麼？」「為什麼？」「為什麼？」嗎？長大被教育壓榨太久，變得不愛問為什麼了。現在！因為真心想學習一項知識，理解Ruby這個程式語言，我會閱讀一本Ruby的書，以初學者的角度，不停地問為什麼，一字一句追根究底理解他！
</p>
      </code>
      <div class="aboutLink"><a href="http://ithelp.ithome.com.tw/profile/share?id=20091352">鐵人賽官方頁面</a></div>
      </pre>
<ul class="articleList ironman">
  <% select_ironman(blog.articles).each_with_index do |article, index| %>
    <li style="border: none; margin-bottom: 20px;">
      <span class="date"><%= article.date.strftime('%b %d, %Y') %></span>
      <span class="title"><%= link_to "Ruby女孩(#{10-index})#{article.title}", article %></span>
    </li>
  <% end %>
</ul>