---
pageable: false
---

<ul class="articleList tags">
  <span class="tagname"><%= tagname %></span>
  <% page_articles.each_with_index do |article| %>
    <% link_to article  do %>
      <li>
        <div class="title"><%= article.title %></div>
        <div class="date"><%= article.date.strftime('%b %d, %Y') %></div>
      </li>
    <% end %>
  <% end %>
</ul>
